.blanc{
    background-color: white;
}
.noir{
    background-color: black;
}
table {
    width: 50px;
    margin: auto;
  }
  td,
  th {
    padding: 15px;
  
  }
.koray{
    background-color: #ff996e;
}
.beige1{
    background-color:#874f30 ;
}
.beige2{
    background-color: #9b5c31;
}
.beige3{
    background-color: #965c2e;
}
.beige4{
 background-color: #9c5b2f;
}
.beige5{
 background-color: #985d35;
}
.vert{
    background-color:#253416 ;
}
.marron{
    background-color: #722d09;
    
}
.couleur1{
    background-color: #734627;
}
.marron2{
    background-color:#893410 ;
}
.vert2{
    background-color:#34461c ;
}
.couleur2{
 background-color: #ffe4b4;
}
.couleur3{
    background-color:#fdefcc ;
}
.couleur4{
    background-color: #ffe3b0;
}
.couleur5{
    background-color: #fee6a9;
}
.jaune{
    background-color: yellow;
}
.couleur6{
    background-color:#35441c ;
}
.couleur7{
background-color: #3b5826;
}
.couleur8{
    background-color: #334620;
}
.couleur9{
 background-color: #6b9636;
}
.couleur11{
    background-color: #3d5728;
}
.tt{
    background-color: #253416;
}
.semon1{
    background-color: #fe9b64;
}
.semon2{
 background-color: #ffa781;
}
.bb{
    background-color: #33251b;
}
.rr{
    background-color: #32261a;
}
.jj{
    background-color: #423221;
}